@page "/counter"
@inject SudokuGenerator generator;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="GenerateGrid">Generate Sudoku Grid</button>

@if (generator != null)
{
    <table>
    @for (int y = 0; y < 9; y++)
    {
        <tr>
        @for (int x = 0; x < 9; x++)
        {
            <td>
                @if (generator.grid[y,x].isSet)
                {
                    <button type="button" class="btn btn-light btn-square-md">@generator.grid[y,x].currentvalue.ToString()</button>
                }
            </td>
        }
        </tr>
    }
    </table>
}

@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
    }

    void GenerateGrid(){
        generator = new SudokuGenerator();
        generator.removalQty = 10;
        generator.GenerateGrid();
    }
}
