@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>This project was created to demonstrate my current capabilities in C#, Blazor, PWA's and HTML/Frontend</p>
<p>Written by Paul Speirs &copy; @DateTime.Now.ToString("yyyy")</p>
<p>You can contact me at <a href = "mailto: asap-controls@hotmail.co.uk">asap-controls&#64hotmail.co.uk</a></p>


@code {

}
